@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*html, body {
	width: 100%;
	overflow-x: hidden;
} */

* {
    text-decoration: none !important;
    outline: none !important;
}



:root {
  --blue-text: #0023af;
  --white: #ffffff;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    background: #fff;
    letter-spacing: 0.4px;
    overflow-x: hidden;
    color: #333333;
}

html
{
    overflow: hidden;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

ol {
    list-style: decimal inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    color: #0d141e;
    line-height: 30px;
    font-family: "Raleway", "Serif";
}

p {
    margin: 0;
    padding: 0;
    color: #050707;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

b,
strong {
    font-weight: 600;
}

blockquote {
    margin: 0;
    padding: 0;
    border: none;
}

a,
a:hover,
a:visited {
    color: #21a108;
}

/* ::selection
{
    background: #21a108;
    color: #fff;
}
::-moz-selection
{
    background: #21a108;
    color: #fff;
} */
a:focus,
p:focus,
div:focus,
input:focus,
textarea:focus,
submit:focus,
button:focus {
    outline: none;
}


header
{
    background: #fff;
    padding: 12px 10px;
    z-index: 9;
    box-shadow: 0 0 10px #b5b5b5;
    border-bottom: 1px solid #cacaca;
}

.logo {
    max-width: 150px;
}

.banner
{
    margin: 0 auto;
}

.banner .slick-dots {
    position: absolute;
    bottom: 6px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    z-index: 9999;
    /* background: #FFF; */
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 25px;
    height: 3px !important;
    padding: 3px;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    outline: none;
    background: #ffffff;
}

.product-slider .slick-slide img {
    display: inline-block;
    margin-bottom: 10px;
        width: 65px;
}

.slick-dots .slick-active button
{
    background: #ff9b3c;
}


.banner .slick-slide img
{
    width: 100%;
}


.how-buy {
    background: #f79345;
    padding: 10px 15px;
    border-radius: 10px;
}

.video-btn
{
    background: transparent;
    border: none;
    padding: 0;
    text-transform: capitalize;
    color: #FFF;
    font-weight: 600;
}

.home-content
{
    background: #f0f5ff !important;
    padding-bottom: calc(90px + 6vw);
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
    background: #f0f5ff;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    min-height: 1px;
    align-items: center;
    justify-content: flex-start;
    height: 100dvh;
}

 .link-area ul li img
 {
    width: 60px;
 }

.price-list {
    background: #FFF;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ffd1b3;
    box-shadow: 0 2px 5px #e1e1e1;
}

.price-list > p
{
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 8px;
    color: #000;
}

.left-price strong
{
    font-size: 22px;
    font-weight: bold !important;
    color: #000;
}

.left-price p
{
    color: #8c8b95;
}

.right-price > span
{
    font-size: 28px;
    font-weight: bold;
    color: #f79345;
    font-family: "Oswald", sans-serif;
}

.right-price > span.small-price
{
    font-size: 20px;
}

.link-area li p
{
    color: var(--blue-text);
    margin-top: 10px;
    font-weight: 500;
}

.how-buy span
{
    color: #fff;
}

.app-download span
{
    color: var(--blue-text);
    font-weight: 600;
}

.btn-back-frw
{
    background: #333;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.center-heading
{
    color: #000;
    font-size: 20px;
}

.product-title
{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.ctrl-wid-price
{
    width: 60%;
}

.product-title h3
{
    padding: 10px 15px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.inc-dec-btn button
{
    background: #f6914e;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 25px;
}

.inc-dec-btn button:hover
{
    background: #d4d4d4;
    color: var(--blue-text);
}

.price-inc-part input
{
    box-shadow: none !important;
    outline: none !important;
}

.total-width-price
{
    width: 180px;
}

.payment-title
{
    background: #f6914e;
    padding: 10px 15px;
    text-transform: capitalize;
}

.mode-payment-title {
    background: #FFF;
    padding: 10px 15px;
    text-transform: capitalize;
}

.payment-title h3
{
    font-size: 16px;
    font-weight: 600;
}

.price-part p span
{
    font-size: 22px;
    color: #000;
}

.account-tab ul
{
    /* border-top: 1px solid #cacaca; */
    padding: 10px;
    background: #FFF;
}

.card-bound {
    background: #ffebeb;
    padding: 10px 15px;

}

.bank-list
{
    background: #FFF;
}

.bank-list img
{
    width: 35px;
    margin-right: 10px;
}

.bank-list p
{
    font-weight: 600;
    font-weight: 600;
}

.ac-number
{
    font-size: 30px;
    font-weight: 700;
}

.card-bound p
{
    color: #2c2c2c;
}


.borderd-plus
{
    border: 1px dashed var(--blue-text);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.banner-image img
{
    width: 100%;
}



.livesupport {
    background: #3e8bff;
    padding: 15px;
    border-radius: 15px;
}

.live-content strong
{
    color: #FFF;
    font-size: 22px;
    font-weight: 400 !important;
}

.live-content p
{
    color: #FFF;
}

.teligrame-color
{
    background: #3a75bf;
}


.rounded-client {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.whatsapp-color
{
    background: #409a2c;
}

.rounded-client img
{
    object-fit: cover;
    height: 100%;
}


.edit-profile-banner
{
    background: #f6914e;

}

.client-image
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.client-image  img
{
    height: 100%;
    object-fit: cover;
}

.left-details .vipo
{
    background:  #000;
    color: #FFF;
    padding: 5px 20px;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.left-details .profile-name
{
    font-size: 18px;
    color: #FFF;
}

.right-details-balance p, .right-details-balance strong
{
    color: #FFF;
}

.progress-area p
{
    margin: 5px 0;
    font-size: 14px;
}

.bar-area p
{
    margin: 0 10px;
}

.changes-profile-details ul li {
    background: #FFF;
    padding: 12px 15px;
    border-radius: 5px;
    margin-bottom: 1px;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}

.amount-area-withdraw input[type="text"]
{
    border-radius: 0;
    height: 45px;
    font-size: 14px;
    outline: none !important;
    box-shadow: none;
    padding-left: 50px;
    position: relative;
}


.amount-area-withdraw input[type="number"]
{
    border-radius: 0;
    height: 45px;
    font-size: 14px;
    outline: none !important;
    box-shadow: none;
    padding-left: 50px;
    position: relative;
}

.withdrawal-amount i {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 25px;
    color: #000000;
}



.password-change-from label
{
    font-size: 14px;
    color: #000;
}

.password-change-from input[type="password"] {

    height: 45px;
    font-size: 14px;
    outline: none !important;
    box-shadow: none;
    padding-right: 30px;
    border-radius: 10px;
}

.login-from input[type="text"] {
    border-radius: 10px;
    height: 45px;
    font-size: 14px;
    outline: none !important;
    box-shadow: none;
    padding-right: 30px;
}

.pw-area i {
    position: absolute;
    right: 10px;
    top: 10px;
}

.submit-btn {
    background: #f6914e;
    width: 100%;
    border: none;
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #ff8239;
    box-shadow: 3px 5px 5px #cbcbcb;
}

.live-support p
{
    font-size: 14px;
}

.live-support p a
{
    color: var(--blue-text);
}

.record {
    color: #000000;
    font-weight: 400 !important;
    font-size: 14px;
}

.amount-area-withdraw
{
    background: #FFF;
    padding: 10px;
}


.amount-listing span {
    border: 1px solid #f59055;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 3px;
    color: #404040;
    font-weight: 600;
    font-size: 12px;
}

.account-tab button
{
    font-size: 14px;
    padding: 5px 15px;
}

.tra-list
{
    background: #FFF;
    border-radius: 5px;
}

.tra-list span
{
    font-weight: bold;
    padding: 0 30px;
    padding-left: 0;
}

.pay-info p
{
    font-size: 14px;
    color: #333;
}

.pay-info b
{
    font-size: 14px;
    color: #333;
}

.hist-amount strong {
    color: #f59055;
    font-weight: 600 !important;
    font-size: 20px;
}

.hist-amount p
{
    color: #a0a0a0;
}


.account-tab .nav-link
{
    color: #000;
}

.video-area video, .video-area iframe
{
    border-radius: 5px;
    overflow: hidden;
}

.video-part h4
{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}


.welcome-heading {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
}


.have-account {
    background: #333333;
    width: 100%;
    border: none;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
}


.account-tab .nav-pills .nav-link.active, .account-tab .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #f6914e;
}




footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    /* padding: 0px 10px; */
    z-index: 9;
    box-shadow: 0 0 10px #b5b5b5;
}

.foot-link ul li
{
    width: 25%;
    text-align: center;
    padding: 10px 0;
}


.foot-link li a
{
    color: #000;
}

.link-active
{
    background: #f79345;
    color: #fff;
}

.link-active a
{
    color: #fff !important;
}


.link-area {
    background: #FFF;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #cfcfcf;
}

.form_error{
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: red;
}

/***********Responsive**************/


@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) { }

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}
